# Pipfile

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ccxt = "*"
scikit-learn = "*"
xgboost = "*"
pipenv = "*"
streamlit = "*"
joblib = "*"
pandas-ta-openbb = "*"
pandas-datareader = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.11"
